/* body {
    overflow: hidden;
    background: #E7FEFF;
} */

/* h1{
    text-align: center;
    width: 50vw;
    margin: 0 auto;
    margin-top: 40vh;
    z-index: 1000;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-shadow: 10px orange;
    line-height: 150%;
} */


/* Elements you'll add animations to (desktop instructions. Will figure out mobile later):
1. TODO: DONE: Programming skills title will come in from right
2. TODO: DONE: Skill badges will fade in from left to right
3. TODO: DONE: Achievements pre-coding will come in from right
4. TODO: DONE: Achievements icon will fade in from left to right 
5. TODO: DONE: Parent div for Portfolio section will be invisible and then will come up from bottom once you scroll to it (just like About section)
6. TODO: DONE: Project cards will fade in from left to right (use an interval instead of using different transition times)
7. Note at bottom of project section will come in from left
8. Resume button at bottom of project section will come in from left, GitHub button will come in from right
9. Parent div for Contact section will be invisible and then will come up from bottom once you scroll to it*/


.circle{

    /* width: 30px;
    height: 30px; */
    border-radius: 50%;
    position: absolute;
    transition: 1s;
    animation-name: move;
    /* animation-duration: 5s; */
    cursor: pointer;
    z-index: 1;
    opacity: 0;
}

.activateToTop{
    transition: 2s;
    opacity: 100%!important;
    margin-top: 0!important;
   
}

.aboutMeMove{
    margin-top: 6vh!important;
    transition: 1s;
    opacity: 100%!important;
}

.sDOne {
    opacity: 100%!important;
    transition: 1.5s;
}

.sDTwo {
    opacity: 100%!important;
    transition: 2s;
}

.sDThree {
    opacity: 100%!important;
    transition: 2.5s;
}

.sDFour {
    opacity: 100%!important;
    transition: 3s;
}

.sDFive {
    opacity: 100%!important;
    transition: 3.5s;
}

.cardActivate{
    opacity: 100%!important;
    transition: 2s;
}




@keyframes move {
    0% {bottom: -10%;}
    100% {bottom: 100%;}
}

