body {
    overflow: hidden;
    background: rgb(113, 238, 255);
}

.circle{

    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: absolute;
    transition: 1s;
    animation-name: move;
    animation-duration: 5s;
    cursor: pointer;
}

.circleTwo{
  
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: absolute;
    transition: 1s;
    animation-name: move;
    animation-duration: 5s;
    cursor: pointer;
}



@keyframes move {
    0% {bottom: -15%;}
    100% {bottom: 100%;}
}

