/* body{
    background-color: salmon;
}

.arrows{
    color: white;
    background-color: rgba(44, 44, 44, 0.76);
    margin: 0%;
    width: 2vw;
    text-align: center;
    z-index: 2;
    position: absolute;
    margin-top: 18%;
    cursor: pointer;
    position: absolute
}

#leftArrow:hover, #rightArrow:hover{
    color: black;
    background-color: rgb(110, 109, 109);
}

#leftArrow{
    left: 8px;
}

#rightArrow{
    right: 8px;
}


.carousel{
    text-align: center;
    position: relative;
    box-sizing: border-box;
    width: 75%;
    height: 100vh;
    margin: 0 auto;
}

.carouselPhotos{
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.photo{
    z-index: 100;
    opacity: 0;
    position: absolute;
    max-height: 50%;
}

/* .initial{
    opacity: 1;
} */

/* .active{
    opacity: 1;
}

.prev{
    opacity: 0;
}

.next{
    opacity: 0;
} */ 