/*  TODO: TOP LEVEL STYLING */

html {
    scroll-behavior: smooth;
   }

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
}

.bodyBlur{
    filter: blur(3px);
}

p{
    margin-top: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

li{
    list-style-position: inside;
}





/* TODO: HOMESCREEN */

#topDiv{
    width: 100%;
    height: 100vh;
    background-image: url("https://wallpapercave.com/wp/wp2729921.gif") ;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#firstDiv{
    width: 45vw;
    height: 50vh!important;
    color: rgb(255, 255, 255);
    border-radius: 18px;
    text-align: center;
    /* display: block; */
    background-color: rgba(255, 255, 255, 0.205);
    padding: 8px;
    margin-bottom: 5vh;
}


#intro{
    margin-top: 10vh;
}


#list{
    margin-top: 5vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* flex-direction stacks the items on top of each other. For some reason align-items is centering them horizontally and justify-content isn't doing anything. You've left justify-content in incase it's a bug */
   
}

.listItems{
    border: 1px solid;
    width: 10vw;
    margin-top: 0!important;
    margin-bottom: 0vh!important;
}





/* TODO: NAVBAR */

#navBar{
    padding: 1vw;
    padding-right: 0;
    background-color: rgb(59, 59, 59);
    
}

.navbar-fixed{
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

.navButton{
    display: inline;
    color: white;
}


#homeButton{
    margin-left: 8.8vw;
}

.notMain{
    margin-left: 3.5vw;
}






/* TODO: ABOUT ME SECTION */

#aboutMe{
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    overflow: auto; 
    /* overflow auto makes the height of the parent div change so that it grows with the height of its children */
    margin-bottom: 10vh;
}

.sectionTitles{
    text-decoration: underline;
}

#aboutMeTitle{
    margin-top: 7vh;
    text-align: center;
    margin-bottom: 7vh;
}

#leftAbout{
    float: left;
    margin-left: 10%;
    margin-right: 3%;
    width: 37%;
    text-align: center;
}

#profilePicture{
    max-width: 25vw;
    border-radius: 118px;
}

#descriptionOfMe{
    
    line-height: 1.5;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-top: 5vh;
}

.boldWords{
    font-weight: bold;
    text-decoration: underline;
}

#rightAbout{
    float: right;
    margin-right: 10%;
    margin-left: 3%;
    width: 37%;
    text-align: center;
}

.skillItem{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1vh;
    width: 100%;
    
}

.skill{
    margin-right: 1vw;
}

#jsSkillBar{
    width: 21vw;
    height: 4.5vh;
    background-color:rgba(0, 132, 255, 0.979);
    border-radius: 50px 0 0 50px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

#jsSkillLevel{
    width: 9vw;
    height: 4.5vh;
    background-color: rgb(230, 230, 230);
    border-radius: 0 50px 50px 0;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#htmlSkillBar{
    width: 24vw;
    height: 4.5vh;
    background-color: rgba(0, 132, 255, 0.979);
    border-radius: 50px 0 0 50px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

#htmlSkillLevel{
    width: 6vw;
    height: 4.5vh;
    background-color: rgb(230, 230, 230);
    border-radius: 0 50px 50px 0;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cssSkillBar{
    width: 24vw;
    height: 4.5vh;
    background-color: rgba(0, 132, 255, 0.979);
    border-radius: 50px 0 0 50px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

#cssSkillLevel{
    width: 6vw;
    height: 4.5vh;
    background-color: rgb(230, 230, 230);
    border-radius: 0 50px 50px 0;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reactSkillBar{
    width: 18vw;
    height: 4.5vh;
    background-color: rgba(0, 132, 255, 0.979);
    border-radius: 50px 0 0 50px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

#reactSkillLevel{
    width: 12vw;
    height: 4.5vh;
    background-color: rgb(230, 230, 230);
    border-radius: 0 50px 50px 0;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nodeSkillBar{
    width: 15vw;
    height: 4.5vh;
    background-color: rgba(0, 132, 255, 0.979);
    border-radius: 50px 0 0 50px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

#nodeSkillLevel{
    width: 15vw;
    height: 4.5vh;
    background-color: rgb(230, 230, 230);
    border-radius: 0 50px 50px 0;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #achievementsSection{
    
} */

#additionalInfo{
    margin-bottom: 0;
}

#rightAboutTwo{
    float: right;
    margin-right: 3%;
    margin-left: 0%;
    width: 47%;
    text-align: center;
}

#achievementsTitle{
    margin-top: 1.3vh;
    margin-bottom: 3vh;
}

#icons{
    display: flex;
    justify-content: left;
    margin-top: 2vh;
}

/* #achievements{
    text-align: left;
    background-color: lavender;
} */

.iconAndDescription{
    text-align: center;
    position: relative
}

.icon{
    width: 7vw;
    height: 110px;
    margin-right: 3.5vw;
    word-wrap: break-word;
    
}

.iconDescription{
   width: 9vw;
   height: 110px;
}

.iconLast{
    margin-right: 3vw;
    width: 7vw;
    height: 110px;
    word-wrap: break-word;
    
}





/* TODO: PORTFOLIO SECTION */

#portfolio{
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* height: fit-content; */
    background-color: rgba(228, 228, 228, 0.685);
}

#portfolioContainer{
    width: 78%;
    margin: 0 auto;
}

#portfolioTitle{
    text-align: center;
    padding-top: 5vh;
    margin-bottom: 2vh;
}

.cardContainer{
    display: flex;
    height: 100%
}

.cardContainer2{
    display: inline-block;
    width: 100%;
}

.card{
    width: 30%;
    margin-left: 3.3%;
    box-sizing: border-box;
    position: relative;
}

.card1{
    margin-left: 1.6%!important; 
    box-sizing: border-box;
}

.cardBottom{
    /* width: 50%;
    margin-left: 5%; */
    float: right;
    box-sizing: border-box;
    width: 37vw;
    /* right: 0; */
    position: relative;
    /* margin-left: 5%; */
}

.card1Bottom{
    /* margin-left: 18%; */
    /* width: 45%;
    box-sizing: border-box; */
    float: left;
    box-sizing: border-box;
    width: 37vw;
    position: relative;
}

.cardTitle{
    text-align: center;
    margin-bottom: 0;
    margin-top: 1vh;
}

.cardImage{
    min-height: 68%;
    max-height: 83%;
    width: 100%;
    margin-top: 2%;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

.cardImageBottom{
    height: 100%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 5%;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    /* display: block; */
}

.cardImage:hover, .cardImageBottom:hover{
    opacity: 0.1;
    transition: opacity 0.4s;
}

.cardDescription{
    box-sizing: border-box;
}

.learnMore{
    position: absolute;
    text-align: center;
    top: 40%;
    left: 0%;
    right: 0;
    margin: 0 auto;
    z-index: 1;
    width: 40%;
    padding: 1%;
    border-bottom: 1px solid black;;

}


#modal1, #modal2, #modal3, #modal4, #modal5{
    overflow: auto;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}


#modal1Content{
    z-index: 2;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    width: 60%;
    height: 83vh;
    margin: 0 auto;
    background-color: rgb(241, 241, 241);
    z-index: 101;
    top: 7vh;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.397);
    overflow: auto;
}

#carouselBackground{
    background-color: rgb(41, 41, 41);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 99%;
    margin: auto;
    height: 55%;
    box-sizing: border-box;
    margin-top: 0.5%;
}

.carousel{
    /* text-align: center; */
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    /* margin: 0 auto; */
}

.carouselPhotos{
    position: absolute;
    top: 0;
    left: 0%;
    right: 0;
    /* margin: 0 auto; */
    height: 55%;
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 0.5%;
}

.photo, .photo2, .photo3, .photo4, .photo5{
    z-index: 100;
    display: none;
    box-sizing: border-box;  
}

/* .initial{
    opacity: 1;
} */

.active{
    display: block;
}

.prev{
    display: none;
}

.next{
    display: none;
}

#xIcon, #xIcon2, #xIcon3, #xIcon4, #xIcon5 {
    color: white;
    background-color: rgba(44, 44, 44, 0.76);
    margin: 0%;
    width: 1.5vw;
    text-align: center;
    z-index: 101;
    position: absolute;
    cursor: pointer;
    right: 8px;
    top: 5px;
    border-radius: 5px;
}

#xIcon:hover, #xIcon2:hover, #xIcon3:hover, #xIcon4:hover, #xIcon5:hover{
    color: black;
    background-color: rgb(110, 109, 109);
}

.arrows{
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.76);
    margin: 0%;
    width: 2vw;
    text-align: center;
    z-index: 101;
    position: absolute;
    margin-top: 18%;
    cursor: pointer;
}

#leftArrow:hover, #rightArrow:hover, #leftArrow2:hover, #rightArrow2:hover, #leftArrow3:hover, #rightArrow3:hover, #leftArrow4:hover, #rightArrow4:hover #leftArrow5:hover, #rightArrow5:hover{
    color: rgba(255, 255, 255, 0.863);
    background-color: rgb(43, 43, 43);
}

#leftArrow, #leftArrow2, #leftArrow3, #leftArrow4, #leftArrow5{
    left: 8px;
}

#rightArrow, #rightArrow2, #rightArrow3, #rightArrow4, #rightArrow5{
    right: 8px;
}

#modal1Info{
    position: absolute;
    display: flex;
    top: 57%;
    margin: 0 auto !important;
    text-align: center;
    justify-content: center;
    height: 40%;
}

.summary{
    width: 33%;
    text-align: center;
    margin-left: 2%;
    margin-right: 1%;
    border: 1px solid rgba(0, 0, 0, 0.671);
    border-radius: 10px;
    padding: 1%;
    box-sizing: border-box;
}

.role{
    width: 29%;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.671);
    border-radius: 10px;
    padding: 1%;
    box-sizing: border-box;
}

.languages{
    width: 33%;
    text-align: center;
    margin-left: 1%;
    margin-right: 2%;
    border: 1px solid rgba(0, 0, 0, 0.671);
    border-radius: 10px;
    padding: 1%;
    box-sizing: border-box;
}

.info, .links{
    text-decoration: underline;
}

.links{
    margin-top: 5vh;
}

.portfolioLinks{
    color: blue;
}

#listSection{
    width: 50%;
    margin-left: 10%;
}







/* TODO: CONTACT SECTION */

#contact{
    overflow: auto; 
    color: white; 
    background-color: rgb(36, 36, 36);
}

#contactContainer{
    width: 80%;
    margin: 0 auto;
}

#contactTitle{
    text-align: center;
    margin-top: 7vh;
    margin-bottom: 7vh;
}

