html {
    scroll-behavior: smooth;
   }

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
}

p{
    margin-top: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

li{
    list-style-position: inside;
}


#topDiv{
    width: 100%;
    height: 100vh;
    background-image: url("https://wallpapercave.com/wp/wp2729921.gif") ;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#firstDiv{
    width: 45vw;
    height: 50vh!important;
    color: rgb(255, 255, 255);
    border-radius: 18px;
    text-align: center;
    /* display: block; */
    background-color: rgba(255, 255, 255, 0.205);
    padding: 8px;
    margin-bottom: 5vh;
}


#intro{
    margin-top: 10vh;
}


#list{
    margin-top: 5vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* flex-direction stacks the items on top of each other. For some reason align-items is centering them horizontally and justify-content isn't doing anything. You've left justify-content in incase it's a bug */
   
}

.listItems{
    border: 1px solid;
    width: 10vw;
    margin-top: 0!important;
    margin-bottom: 0vh!important;
}

#navBar{
    padding: 1vw;
    padding-right: 0;
    background-color: rgb(59, 59, 59);
    
}

.navbar-fixed{
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

.navButton{
    display: inline;
    color: white;
}


#homeButton{
    margin-left: 8.8vw;
}

.notMain{
    margin-left: 3.5vw;
}

.sectionTitles{
    text-decoration: underline;
}

#aboutMe{
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    overflow: auto; 
    /* overflow auto makes the height of the parent div change so that it grows with the height of its children */
    margin-bottom: 10vh;
}

#aboutMeTitle{
    margin-top: 7vh;
    text-align: center;
    margin-bottom: 7vh;
}

#leftAbout{
    float: left;
    margin-left: 10%;
    margin-right: 3%;
    width: 37%;
    text-align: center;
}

#profilePicture{
    max-width: 25vw;
    border-radius: 118px;
}

#descriptionOfMe{
    
    line-height: 1.5;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-top: 5vh;
}

.boldWords{
    font-weight: bold;
    text-decoration: underline;
}

#rightAbout{
    float: right;
    margin-right: 10%;
    margin-left: 3%;
    width: 37%;
    text-align: center;
}

.skillItem{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1vh;
    width: 100%;
    
}

.skill{
    margin-right: 1vw;
}

#jsSkillBar{
    width: 21vw;
    height: 4.5vh;
    background-color:rgba(0, 132, 255, 0.979);
    border-radius: 50px 0 0 50px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

#jsSkillLevel{
    width: 9vw;
    height: 4.5vh;
    background-color: rgb(230, 230, 230);
    border-radius: 0 50px 50px 0;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#htmlSkillBar{
    width: 24vw;
    height: 4.5vh;
    background-color: rgba(0, 132, 255, 0.979);
    border-radius: 50px 0 0 50px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

#htmlSkillLevel{
    width: 6vw;
    height: 4.5vh;
    background-color: rgb(230, 230, 230);
    border-radius: 0 50px 50px 0;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cssSkillBar{
    width: 24vw;
    height: 4.5vh;
    background-color: rgba(0, 132, 255, 0.979);
    border-radius: 50px 0 0 50px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

#cssSkillLevel{
    width: 6vw;
    height: 4.5vh;
    background-color: rgb(230, 230, 230);
    border-radius: 0 50px 50px 0;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reactSkillBar{
    width: 18vw;
    height: 4.5vh;
    background-color: rgba(0, 132, 255, 0.979);
    border-radius: 50px 0 0 50px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

#reactSkillLevel{
    width: 12vw;
    height: 4.5vh;
    background-color: rgb(230, 230, 230);
    border-radius: 0 50px 50px 0;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nodeSkillBar{
    width: 15vw;
    height: 4.5vh;
    background-color: rgba(0, 132, 255, 0.979);
    border-radius: 50px 0 0 50px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

#nodeSkillLevel{
    width: 15vw;
    height: 4.5vh;
    background-color: rgb(230, 230, 230);
    border-radius: 0 50px 50px 0;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #achievementsSection{
    
} */

#additionalInfo{
    margin-bottom: 0;
}

#rightAboutTwo{
    float: right;
    margin-right: 3%;
    margin-left: 0%;
    width: 47%;
    text-align: center;
}

#achievementsTitle{
    margin-top: 1.3vh;
    margin-bottom: 3vh;
}

#icons{
    display: flex;
    justify-content: left;
    margin-top: 2vh;
}

/* #achievements{
    text-align: left;
    background-color: lavender;
} */

.iconAndDescription{
    text-align: center;
    position: relative
}

.icon{
    width: 7vw;
    height: 110px;
    margin-right: 3.5vw;
    word-wrap: break-word;
    
}

.iconDescription{
   width: 9vw;
   height: 110px;
}

.iconLast{
    margin-right: 3vw;
    width: 7vw;
    height: 110px;
    word-wrap: break-word;
    
}

#portfolio{
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    overflow: auto;  
    background-color: rgba(228, 228, 228, 0.685);
}

#portfolioContainer{
    width: 80%;
    margin: 0 auto;
}

#portfolioTitle{
    text-align: center;
    margin-top: 7vh;
    margin-bottom: 7vh;
}

#contact{
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    overflow: auto; 
    color: white; 
    background-color: rgb(36, 36, 36);
}

#contactContainer{
    width: 80%;
    margin: 0 auto;
}

#contactTitle{
    text-align: center;
    margin-top: 7vh;
    margin-bottom: 7vh;
}
